#header .item1 span{
	color: #ed502e;
}

body{
	margin: 0;
}

#header .item1{
	float: left;
	width: 40%;
	margin-top: 30px;
	margin-bottom: 30px;
	/* background-color: blue; */
}

.orange{
	color:#ed502e;
	text-shadow: none;
}

#header .item1 h3{
	color: #3f3f3f;
	font-size: 28px;
	margin-left: 26%;
	animation: lightSpeedIn;
	animation-duration: 0.7s;
}

#header .item2{
	width: 55%;
	float: left;
	margin-top: 40px;
	margin-bottom: 37px;
	/* background-color: blue; */
}

#header .item2 .it{
	text-shadow: 0px 0px 0px black;
	width: 20%;
	float: left;
	text-align: center;
	animation: fadeInDown;
	animation-duration: 0.5s;
}

h3,h1,h2,h4{
	font-family: arial;	
	font-weight: normal;
	margin: 0;	
}
h5{
	font-weight: normal;
	font-family: arial;	
	margin: 0;	
}

#header{
	width: 100%;
}

#content{
	width: 100%;
	/* background: blue; */
	/* height: 1000px; */
}

#content .item1 {
	width: 100%;
}

#content .item1 .boxBigImg{
	width: 100%;
	position: relative;
}

#content .item1 .img{
	background-size: 100% 100%;
	/* background-image: url(images/slider/1.jpg); */
	width: 100%;
	/* height: 560px; */
	
}

#content .item1 .boxBigImg .box_left{
	top: 46%;
	left: 4%;
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: #535556b8;
	z-index: 10;
}

#content .item1 .boxBigImg .box_left i{
	font-size: 24px;
	position: absolute;
	top: 7%;
	left: 26%;
	color: #ffffffab;
}

#content .item1 .boxBigImg .box_right i{
	font-size: 24px;
	position: absolute;
	top: 7%;
	right: 26%;
	color: #ffffffab;
}

#content .item1 .boxBigImg .box_right{
	top: 46%;
	right: 4%;
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: #535556b8;
	z-index: 10;
}

#content .item1 .i1{
	margin: auto;
	width: 100%;
}
#content .item1 .i1 i{
	font-size: 11px;
	color: #666666;
	margin-left: 0.5%;
}

#content .item2 {
	width: 100%;
	margin-top: 60px;	
}

#content .item2 h2{
	text-align: center;
	color: #393939;
}
#content .item2 h1{
	text-align: center;
	font-weight: normal;
	margin-top: 25px;
	margin-bottom: 90px;color: #393939;
}

#content .item2 .box-icon{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #ed502e;
	position: relative;
	margin: auto;	
}

#content .item2 .box-icon i{
	color: #fff;
	top: 25%;
	left: 19%;
	font-size: 40px;
	position: absolute;
}

#content .item2 .bigBoxIcon {
	float: left;
	width: 25%;
	text-align: center;
	/* 	height: 100px; */
}

#content .item2 .bigBoxIcon h3{
	margin-top: 75px;
	color: #484848;
}
#content .item2 .ii1{
	color: #4d4d4d;
	text-align: center;
	margin-top: 124px;
	margin-bottom: 35px;
	font-size: 31px;
}

#content .item2 .ii11{
	color: #191919;
	width: 38%; margin: auto; text-align: center;margin-bottom: 78px;
}

#content .item2 .ii2{
	margin: auto;
	width: 81%;
}

#content .item2 .ii2 img{
	width: 100%
}

#content .item2 .ii2 .boxImg1{
	float: left;
	width: 48%;
}

#content .item2 .ii2 .boxImg2{
	float: right;
	width: 48%;

}
#content .item2 .ii3{
	margin: auto;
	width: 81%;
	margin-top: 100px;
}

#content .item2 .bigBoxIcon2{
	float: left;
	width: 33%;
	/* text-align: center; */
}
#content .item2 .box-icon2{
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #ed502e;
	position: relative;
	margin: auto;	
}
#content .item2 .box-icon2 i{
	color: #fff;
	top: 25%;
	left: 19%;
	font-size: 40px;
	position: absolute;
}
#content .item2 .bigBoxIcon2 h3{
	float: left;
	margin-left: 3%;
	color: #3e3e3e;
}
#content .item2 .bigBoxIcon2 h5{
	float: left;
	line-height: 20px;
	width: 67%;
	margin-left: 3%;
	margin-top: 5%;
	color: #939393;
}

#content .item3{
	margin: auto;
	width: 100%;
	background-color: #fd502e;
	margin-top: 8%;
	text-align: center;

}

#content .item3 h1{
	padding-top: 7%; padding-bottom: 2%;
	color: #fff;
	margin: auto;
	width: 75%;
}

#content .item3 h4{
	font-size: 15px;
	color: #fff;    margin: auto;
	width: 75%;
}

#content .item3 h2{
	line-height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 19px;
	color: #4c4c4c;
}

#content .item3 .boxx1{
	background-color: #fff;
	border-radius: 23px;
	margin-bottom: 20%;
	margin-top: 16%;
}

#content .item3 .boxx2{
	background-color: #fff;
	border-radius: 23px;
	margin-bottom: 20%;
	margin-top: 16%;
}

#content .item4{
	margin: auto;
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;

}

#content .item4 .bigBoxAbout{
	margin: auto;
	width: 85%;
	/* height: 100px;
	background-color: red; */
}

#content .item4 .bigBoxAbout>.boxAbout{
	float: left;
	width: 25%;
	text-align: center;
	/* height: 100px;
	background-color: red; */
}

#content .item4 .bigBoxAbout>.boxAbout>.boxImgABout{
	width: 53%;
	text-align: center;
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 25px;
	/* height: 100px;
	background-color: red; */
}

#content .item4 .bigBoxAbout>.boxAbout>.boxImgABout img{
	width: 100%;
	border-radius: 25px;
	transition: .5s;
	/* height: 100px;
	background-color: red; */
}


.textBox{
	position: absolute;
	top: 97%;
	left: 0;
	width: 100%;
	height: 25%;
	background: rgba(111, 112, 113, 0);
	transition: .5s;
}
.textBox h3{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 26%;
	left: 22.5%;
	/* transition: .5s; */
	/* transform: translateX(-50%) translateY(-50%); */
	color: #e87642;
	font-family: arial;
}
.textBox i{
	margin: 0;
	padding: 0;
	position: absolute;
	top: -21%;
	left: 0.5%;
	/* transition: .5s; */
	/* transform: translateX(-50%) translateY(-50%); */
	color: #fff;
}
.textBox i:hover{
	color: #6588b9;
}
.boxImgABout:hover{
	cursor: pointer;
}
.boxImgABout:hover .textBox{
	top: 75%;
	background: rgba(111, 112, 113, 0.62)
}
.boxImgABout:hover img{
	transform: scale(1.2);
}

#content .item4>h2{
	padding-top: 6%;
	padding-bottom: 1%;
	color: #343434;
}

#content .item4>h1{
	padding-bottom: 5%;
	color: #333333;
}

#content .item4 .bigBoxAbout>.boxAbout h3{
	color: #343434;
	font-size: 21px;
	margin-top: 13%;
	margin-bottom: 6%;
}

#content .item4 .bigBoxAbout>.boxAbout h5{
	color: #343434;
	margin-bottom: 6%;
	margin-bottom: 50%;
}

#footer{
	width: 100%;
	background-color: #292929;

	/* height: 100px; */
}

#footer>.boxFooter{
	margin: auto;
	width: 85%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#footer>.boxFooter> .item1{
	width: 31%;
	float: left;
}
#footer>.boxFooter> .item1 >.i1{
	line-height: 25px;
	font-size: 14px;
	margin-top: 8%;
	margin-bottom: 8%;
}
#footer>.boxFooter> .item2{
	width: 35%;
	margin-left: 3%;
	float: left;
}
#footer>.boxFooter> .item3{
	width: 31%;
	float: right;
}
.white{
	color: #d6d3d3;
}
.line{
	background-color: #fff; 
	width: 90%;
	border:0.5px solid #fff;
}
#footer>.boxFooter> .item2 >.i1{
	margin-bottom: 9%;
	font-size: 16px;
}

#footer>.boxFooter> .item2 >.i2{
	font-size: 14px;
	margin-bottom: 5%;
	margin-top: 5%;
	transition: .5s;
}
#footer>.boxFooter> .item3 >.i1{
	margin-bottom: 9%;
	font-size: 16px;
}
#footer>.boxFooter> .item3 >.i2{
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 5%;
	margin-top: 5%;
}

#footer>.boxFooter> .item3 >i{
	padding-right: 1.5%;
	font-size: 19px;
	float: left;
	color: #fff;
}
#footer>.boxFooter> .item1 >.box_icon{
	float: left;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: black;
	position: relative;
	margin-right: 6%;
}

#footer>.boxFooter> .item1 >.box_icon>i{
	left: 34%;
	top: 24%;
	position: absolute;
	color: #efeeee;
	font-size: 16px;
}

#lastFooter{
	width: 100%;
	background-color: #090909;
}
#lastFooter>.boxLast{
	margin: auto;
	width: 85%;
	padding-top: 2%;
	padding-bottom: 1.9%;
}

#lastFooter>.boxLast>.box2{
	width: 50%;
	display: inline-block;
}

#lastFooter>.boxLast h4{
	font-size: 14px;
	float: left;
	line-height: 16px;
}

#lastFooter>.boxLast>.box2>.boxSmall{
	width: 20%;
	float: left;
	text-align: center;
}

#lastFooter>.boxLast>.box2>.boxSmall h5{
	font-size: 14px;
}

.phoneChange{
	margin-right: 1%;margin-top: 5%; transform: rotate(90deg);
}

.mailChange{
	margin-top: 5% !important;
	font-size: 22px !important;
}
@media (max-width: 1157px){
	.textBox{
		display: none;
	}
	.boxImgABout:hover img {
		transform: none;
	}
}
@media (max-width: 1024px){
	
	#header .item1 {
		float: left;
		width: 25%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#header .item2 {
		width: 68%;
		float: left;
		margin-top: 40px;
		margin-bottom: 37px;
	}
	#header .item1 h3 {
		color: #3f3f3f;
		font-size: 28px;
		margin-left: 41%;
	}
	#content .item2 .bigBoxIcon h3 {
		color: #484848;
		width: 80%;
		margin: auto;
		margin-top: 75px;
	}
	#content .item2 .ii11 {
		width: 51%;
	}
	#content .item2 .ii2 .boxImg1 {
		margin: auto;
		float: none;
		width: 85%;
	}
	#content .item2 .ii2 .boxImg2 {
		margin-top: 5%;
		float: none;
		margin: auto;
		width: 85%;
	}
	#content .item2 .ii3 {
		margin: auto;
		width: 77%;
		margin-top: 100px;
	}
	#content .item2 .bigBoxIcon2 {
		float: left;
		margin-bottom: 11%;
		width: 100%;
		/* text-align: center; */
	}
	#content .item2 .bigBoxIcon2 h3 {
		float: left;
		margin-left: 2%;
		color: #3e3e3e;
	}
	#content .item2 .bigBoxIcon2 h5 {
		float: left;
		line-height: 20px;
		width: 83%;
		margin-left: 2%;
		margin-top: 3%;
		color: #939393;
	}
	#content .item3 {
		margin-top: 4%;
	}
	#content .item4 .bigBoxAbout {
		margin: auto;
		width: 85%;
	}
	#content .item4 .bigBoxAbout>.boxAbout {
		float: left;
		width: 100%;
		text-align: center;
	}
	#content .item4 .bigBoxAbout>.boxAbout>.boxImgABout {
		width: 18%;
		text-align: center;
		margin: auto;
	}
	#content .item4 .bigBoxAbout>.boxAbout h3 {
		color: #343434;
		font-size: 23px;
		margin-top: 4%;
		margin-bottom: 1.5%;
	}
	#content .item4 .bigBoxAbout>.boxAbout h5 {
		color: #343434;
		margin-bottom: 6%;
		margin-bottom: 11%;
	}
	#lastFooter>.boxLast {
		margin: auto;
		width: 78%;
	}
	#footer>.boxFooter {
		margin: auto;
		width: 78%;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	#footer>.boxFooter> .item1 {
		width: 100%;
		/* float: left; */
	}
	#footer>.boxFooter> .item1 >.i1 {
		line-height: 25px;
		font-size: 14px;
		margin-top: 2%;
		margin-bottom: 3%;
	}
	#footer>.boxFooter> .item1 >.box_icon {
		float: left;
		height: 30px;
		width: 30px;
		border-radius: 15px;
		background-color: black;
		position: relative;
		margin-right: 3%;
	}
	#footer>.boxFooter> .item2 {
		width: 100%;
		margin-left: 0%;
		float: left;
	}
	#footer>.boxFooter> .item2 >.i1 {
		margin-bottom: 5%;
		font-size: 16px;
		margin-top: 3%;
	}
	#footer>.boxFooter> .item2 >.i2 {
		font-size: 14px;
		margin-bottom: 3%;
		margin-top: 3%;
	}
	.line {
		background-color: #fff;
		width: 100%;
		border: 0.5px solid #fff;
	}
	#footer>.boxFooter> .item3 {
		width: 100%;
		float: right;
	}
	#footer>.boxFooter> .item3 >.i1 {
		margin-bottom: 5%;
		font-size: 16px;
		margin-top: 1%;
	}
	#footer>.boxFooter> .item3 >i {
		padding-right: 1%;
		font-size: 19px;
		float: left;
		color: #fff;
	}
	#footer>.boxFooter> .item3 >.i2 {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 3%;
		margin-top: 3%;
	}
	.phoneChange{
		margin-right: 0.5%;
		margin-top: 4%;
		transform: rotate(90deg);
	}
	.mailChange{
		margin-top: 3% !important; 
		font-size: 22px !important;
	}
}	
.lastFooterBox2Change{
	width: 49% !important;
}
@media (max-width: 714px){
	#lastFooter>.boxLast>.box2 {
		text-align: center;
		width: 100%;
		display: inline-block;
	}
	#content .item4 .bigBoxAbout>.boxAbout>.boxImgABout {
		width: 26%;
		text-align: center;
		margin: auto;
	}
	#content .item2 .ii11 {
		width: 78%;
	}
	#content .item2 .ii2 .boxImg2 {
		margin-top: 5%;
		float: none;
		margin: auto;
		width: 100%;
	}
	#content .item2 .ii2 .boxImg1 {
		margin: auto;
		float: none;
		width: 100%;
	}

	#lastFooter>.boxLast h4 {
		font-size: 14px;
		float: none;
		padding-bottom: 2%;
		line-height: 26px;
	}
	.lastFooterBox2Change{
		width: 100% !important;
	}
	#content .item2 .ii3 {
		margin: auto;
		width: 87%;
		margin-top: 100px;
	}
	#content .item2 .bigBoxIcon2 h5 {
		float: left;
		line-height: 20px;
		width: 76%;
	}

}

#header .item3{
	display: none;
	float: left;
	width: 68%; 
	margin-top: 20px;
}
#header .item3 .boxBar {
	height: 28px;
	width: 34px;
	float: right;
	border: 1px solid #bfbaba;
	border-radius: 4px;
	position: relative;
}

#header .item3 .boxBar i {
	position: absolute;
	left: 22%;
	color: #888888;
	font-size: 22px;
	top: 10%;
}
.circleChange{
	margin-left: 47% !important;
	color:#ed502e !important;
}
@media (max-width: 585px){
	#header .item2 {
		display: none;
	}
	#header .item1 {
		float: left;
		width: 25%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#header .item3{
		display: block;
	}
	#content .item2 .bigBoxIcon h3 {
		color: #484848;
		width: 80%;
		margin: auto;
		margin-top: 36px;
		margin-bottom: 62px;
	}
	#content .item2 .bigBoxIcon {
		/* float: left; */
		width: 100%;
	}
	#content .item2 .ii1 {
		margin-top: 65px;
		margin-bottom: 25px;
	}
	#content .item2 .ii11 {
		width: 88%;
	}
	#content .item2 {
		width: 100%;
		margin-top: 66px;
	}
	#content .item2 .ii2 .boxImg1 {
		margin: auto;
		float: none;
		width: 100%;
	}
	#content .item2 .ii2 img {
		width: 100%;
	}
	#content .item2 .ii2 .boxImg2 {
		width: 100%;
	}
	#content .item2 .bigBoxIcon2 h5 {
		float: left;
		line-height: 20px;
		width: 72%;
	}
	#content .item3 h1 {
		padding-top: 12%;
		padding-bottom: 2%;
		color: #fff;
		margin: auto;
		width: 75%;
	}
	#content .item3 .boxx1 {
		background-color: #fff;
		border-radius: 23px;
		margin-bottom: 41%;
		margin-top: 16%;
	}
	#content .item3 h2 {
		line-height: 35px;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 15px;
		color: #4c4c4c;
	}
	#content .item4 .bigBoxAbout>.boxAbout>.boxImgABout {
		width: 30% !important;
		text-align: center;
		margin: auto;
	}
	#footer>.boxFooter {
		margin: auto;
		width: 78%;
		padding-top: 9%;
		padding-bottom: 10%;
	}
	#footer>.boxFooter> .item2 >.i1 {
		margin-bottom: 7%;
		font-size: 16px;
		margin-top: 8%;
	}
	#footer>.boxFooter> .item1 >.i1 {
		line-height: 25px;
		font-size: 14px;
		margin-top: 5%;
		margin-bottom: 3%;
	}
	#footer>.boxFooter> .item2 >.i2 {
		font-size: 14px;
		margin-bottom: 5%;
		margin-top: 5%;
	}
	#footer>.boxFooter> .item3 >.i1 {
		margin-bottom: 6%;
		font-size: 16px;
		margin-top: 4%;
	}
	#footer>.boxFooter> .item3 >.i2 {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 5%;
		margin-top: 5%;
	}
	.phoneChange {
		margin-right: 0.5%;
		margin-top: 6%;
		transform: rotate(90deg);
	}
	.mailChange {
		margin-top: 5% !important;
		font-size: 22px !important;
	}
	.circleChange{
		margin-left: 45% !important;
	}	
}

@media (max-width: 460px){
	#content .item2 h1 {
		font-size: 28px;
	}
	#content .item2 h2 {
		font-size: 22px;
	}
	#content .item3 h1 {
		padding-top: 12%;
		padding-bottom: 4%;
		color: #fff;
		margin: auto;
		width: 75%;
		font-size: 25px;
	}
}

@media (max-width: 375px){
	#content .item2 h1 {
		font-size: 26px;
	}
	#content .item2 h2 {
		text-align: center;
		font-size: 21px;
	}
	#content .item3 h2 {
		line-height: 35px;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 13px;
	}
	#content .item3 h1 {
		padding-top: 12%;
		padding-bottom: 2%;
		color: #fff;
		margin: auto;
		font-size: 22px;
	}
	#content .item3 h4 {
		font-size: 13px;
		color: #fff;
		margin: auto;
		width: 75%;
	}
}

@media (max-width: 320px){
	#content .item3 h2 {
		line-height: 35px;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 12px;
	}
	#content .item2 .bigBoxIcon2 h5 {
		float: left;
		line-height: 20px;
		width: 69%;
	}
}

.sl1{
	position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;visibility:hidden;
}
.sl2{
	position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);
}
.sl3{
	margin-top:-19px;position:relative;top:50%;width:38px;height:38px;
}
.sl4{
	cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;
}
.sl5{
	position:absolute;bottom:12px;right:12px;
}
.sl6{
	position:absolute;top:0;left:0;width:100%;height:100%;
}
.sl7{
	width:65px;height:65px;top:0px;left:25px;
}
.sl8{
	position:absolute;top:0;left:0;width:100%;height:100%;
}

/* -----------------------------hover ----------------------------------------------*/
.pointer:hover{
	cursor: pointer;
}

.hoverOrange:hover{
	cursor: pointer;
	color:#ed502e !important;
}

#footer>.boxFooter> .item1 >.box_icon:hover{
	cursor: pointer;
	background-color: #fff;
}
#footer>.boxFooter> .item1 >.box_icon:hover i{
	color: black;
}
#footer>.boxFooter> .item2 >.i2:hover{
	color: #205fea;
	margin-left: 6px;
	cursor: pointer;

}

#footer>.boxFooter> .item3>h4:hover{
	color: #205fea;
	text-decoration: underline;
	cursor: pointer;
}
#footer>.boxFooter> .item3>i:hover{
	cursor: pointer;
}
#lastFooter>.boxLast>.box2>.boxSmall h5:hover {
	color: #205fea;
	cursor: pointer;
}
#content .item3 .boxx1:hover{
	cursor: pointer;
	background-color: #6d6666eb;
	box-shadow: 0px 0px 2px 1px #c54242;
}

#content .item3 .boxx1:hover h2{
	color: #fff; 
}
#content .item3 .boxx2:hover{
	cursor: pointer;
	background-color: #6d6666eb;
	box-shadow: 0px 0px 2px 1px #c54242;
}


#content .item3 .boxx2:hover h2{
	color: #fff; 
}
#content .item2 .bigBoxIcon2 h3:hover {
	cursor: pointer;
	text-decoration: underline;
}
#content .item2 .box-icon2:hover {
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px #716f6f;
	background-color: #fff;
}
#content .item2 .box-icon2:hover i{
	color: #ed502e;
}
#content .item2 .bigBoxIcon h3:hover {
	cursor: pointer;
	text-decoration: underline;
}
#content .item2 .box-icon:hover{
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px #716f6f;
	background-color: #fff;
}
#content .item2 .box-icon:hover i{
	color: #ed502e;
}
#content .item4 .bigBoxAbout>.boxAbout> :hover.boxImgABout{
	box-shadow: 0px 0px 1px 1px #e2dddd;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
	background-color: #000;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
		/* max-width: 315px;
		min-width: 230px; */
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 100%;
	}

	.snip1573 * {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}

	.snip1573:before,
	.snip1573:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
		background-color: #fd502e;
		border-left: 3px solid #fff;
		border-right: 3px solid #fff;
		content: '';
		opacity: 0.9;
		z-index: 1;
	}

	.snip1573:before {
		-webkit-transform: skew(45deg) translateX(-155%);
		transform: skew(45deg) translateX(-155%);
	}

	.snip1573:after {
		-webkit-transform: skew(45deg) translateX(155%);
		transform: skew(45deg) translateX(155%);
	}

	.snip1573 img {
		width: 100%;
		vertical-align: top;
	}

	.snip1573 figcaption {
		top: 50%;
		left: 50%;
		position: absolute;
		z-index: 2;
		-webkit-transform: translate(-50%, -50%) scale(0.5);
		transform: translate(-50%, -50%) scale(0.5);
		opacity: 0;
		-webkit-box-shadow: 0 0 10px #000000;
		box-shadow: 0 0 10px #000000;
	}

	.snip1573 h3 {
		background-color: #fd502e;
		border: 2px solid #fff;
		color: #fff;
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 1px;
		margin: 0;
		padding: 5px 10px;
		text-transform: uppercase;
	}

	.snip1573 a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
	}

	.snip1573:hover > img,
	.snip1573.hover > img {
		opacity: 0.5;
	}

	.snip1573:hover:before,
	.snip1573.hover:before {
		-webkit-transform: skew(45deg) translateX(-55%);
		transform: skew(45deg) translateX(-55%);
	}

	.snip1573:hover:after,
	.snip1573.hover:after {
		-webkit-transform: skew(45deg) translateX(55%);
		transform: skew(45deg) translateX(55%);
	}

	.snip1573:hover figcaption,
	.snip1573.hover figcaption {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	.backToTop {
		background-image: url(../images/unit05/arrowPageUp.png);
		background-size: 100% 100%;
		bottom: 20px;
		cursor: pointer;
		display: none;
		height: 40px;
		padding: 0;
		position: fixed;
		right: 20px;
		width: 40px;
		z-index: 9999;
		bottom: 20px; 
		opacity: 0.6;
		transition: background 3s,color .3s;
		-webkit-transition: background 3s,color .3s;
		-moz-transition: background 3s,color .3s;
	}
	.backToTop:hover{
		opacity: 0.9;
	}
	.jssorl-009-spin img {
		animation-name: jssorl-009-spin;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes jssorl-009-spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	.jssorb032 {position:absolute;}
	.jssorb032 .i {position:absolute;cursor:pointer;}
	.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
	.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
	.jssorb032 .iav .b {fill:#ed502e;fill-opacity:1;stroke:#de8a63;stroke-opacity:.35;}
	.jssorb032 .i.idn {opacity:.3;}

	.jssora051 {display:block;position:absolute;cursor:pointer;}
	.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
	.jssora051:hover {opacity:.8;}
	.jssora051.jssora051dn {opacity:.5;}
	.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(-30deg);
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}