#container{
	margin: auto;
	text-align: center;
}
input{
	margin: 10px;
}
h4{
	margin: 10px;
	font-weight: normal;
	text-align: left;
}
tr:hover{
	background-color: #4bdc67;
}
.ip:hover{
	cursor: pointer;
}
input:hover{
	cursor: pointer;
}
.item1{
	float: left;
	margin-left: 41.5%;
	font-size: 16px;
	font-family: "Times New Roman";
}
.item2{
	float: left;	
	margin-left: 2%;
	font-size: 16px;
	font-family: "Times New Roman";
}
.item1:hover{
	cursor: pointer;
}
.item2:hover{
	cursor: pointer;
}
table{
	border-radius: 1px; 
	background-color: #adbddf;
}