/* +-105 */
@media (max-width: 1050px){
	.ct3-1{
		width: 82%;
		margin: auto;
		float: none;
		text-align: center;
	}
	.bbct3-1 {
		width: 100%;
	}
	.addRes{
		text-align: left;
		width: 312px;
		margin: auto;
	}
	#form{
		margin: auto;
		width: 60%;
	}
	.ct3-2{
		float: none;
		width: 100%;
		padding-top: 33px;
	}
	input{
		width: 80%;
	}
	.icf{
		left: 12.2%;
	}
	.leftMore {
		left: 12.9%;
	}
	.formI1{
		width: 80%;
	}
	.praesent{
		width: 80%;
	}
}
@media (max-width: 990px){
	.ct2-ii, .ct2-ii2{
		width: 47%;
		margin: 1%;
	}
	.i2, .i1 {
		font-size: 14px;
		line-height: 26px;
		padding-left: 5%;
		padding-right: 5%;
	}
	.img1{
		width: 140px;
	}
}
@media (max-width: 880px){
	.bbct1-2 {
		width: 79%;
	}
	.eBook {
		font-weight: 700;
		line-height: 46.5pt;
		font-size: 56px;
	}
	.ct-ii1 {
		width: 166px;
		font-size: 15px;
	}
	.ct-ii2 {
		font-size: 15px;
		width: 154px;
	}
}